{% load static %}

<html lang="en">
  <head>
    {% if title %}
        <title>Creative QA | {{ title }}</title>
    {% else %}
        <title>Creative QA</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'favicon/favicon_annalect.png' %}"/>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">

    {% block style %}
    {% endblock style %}

    <style>

    .avatar {
      vertical-align: middle;
      /* width: 50px; */
      height: 50px;
      border-radius: 50%;
      border:2px solid black;
    }
    
    </style>

  </head>

  <body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">



                {% block pic %}
                {% endblock pic %}

                {% if user.is_authenticated %}
                <a href="{% url 'landing_page' %}" class="img logo rounded-circle mb-5" style="background-image: url({{ avatar.url }});"></a>
                {% else %}
                <a href="{% url 'landing_page' %}" class="img logo mb-5" style="background-image: url({% static 'images/PageLogo/logo.png' %});"></a>
                {% endif %}

                <ul class="list-unstyled components mb-5">

                    {% if user.is_authenticated %}


                    {% block table %} {% endblock table %}


                    {% endif %}

                </ul>


                {% comment %} <div class="footer" style="margin-top: 40%;">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by CoE, Annalect India.
                    </p>
                    <img src="{% static 'images/PageLogo/logo_text.png' %}" height="35px">
                </div> {% endcomment %}

            </div>

        </nav>


        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-md navbar-light bg-light">

                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto"
                            type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">

                        {% if user.is_authenticated %}
                          {% if user.email %}
                              <li class="nav-item active">
                                  <a class="nav-link" style="color: steelblue;">Hello {{user.first_name|safe}} {{user.last_name|safe}}!</a>
                              </li>
                          {% endif %}


                          {% comment %} <li class="nav-item">
                              <a class="nav-link" href="{% url 'table' %}">Home</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'preference' %}">Preference</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
                          </li> {% endcomment %}

                            {% block nav %} {% endblock nav %}

                        {% endif %}

                        </ul>
                    </div>

                </div>

            </nav>

            {% block content %}

            {% endblock content %}

                <!-- Footer -->
            <footer class="page-footer font-small blue">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">&copy;<script>document.write(new Date().getFullYear());</script> 
                <a href="#">
                    CoE, Annalect India
                </a>
                </div>
            
            </footer>
        </div>

    </div>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% comment %} <script src="{% static 'js/slider.js' %}"></script> {% endcomment %}

    {% block javascript %}

    {% endblock javascript %}


  </body>
  </html>
