{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'favicon/favicon_annalect.png' %}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>CreativeQA</title>
    <style type="text/css">


        .responsive {
            width: 80%;
            height: 70vh;
            margin-left: 10%;
        }

    </style>

  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">

    <div class="container">
        <h1>Welcome to Creative QA App</h1>
        <p>
            A quick and effective way to QA Image and Video creatives...
        </p>

        <hr>
        <p class="lead">
            

            {% if user.is_authenticated %}

                {% if home == 'IMAGE' %}
                    <a class="btn btn-secondary btn-sm" href="{% url 'image' %}">Home</a>
                {% else %}
                    <a class="btn btn-secondary btn-sm" href="{% url 'video' %}">Home</a>
                {% endif %}
                    <a class="btn btn-danger btn-sm" href="{% url 'logout' %}">Logout</a>

            {% else %}

                <a class="btn btn-primary btn-sm" href="{% url 'login' %}" role="button">Login</a>
                <a class="btn btn-secondary btn-sm" href="{% url 'register' %}" role="button">Register</a>

            {% endif %}
        </p>

    </div>

    </div>


    <div class="responsive"> 
        <img src="{% static 'images/page_logo/landing_page.jpg' %}" class="responsive">
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>