{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% load static %}

{% block pic %}
{% comment %} <a href="#" class="img logo mb-5" style="background-image: url({% static 'images/PageLogo/logo.png' %});"></a> {% endcomment %}

{% endblock pic %}

{% block nav %}
<li class="nav-item">
    {% if home == 'IMAGE' %}
        <a class="btn btn-secondary btn-sm" href="{% url 'image' %}">Home</a>
    {% else %}
        <a class="btn btn-secondary btn-sm" href="{% url 'video' %}">Home</a>
    {% endif %}
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'preference' %}">Preference</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
</li>
{% endblock nav %}



{% block content %}

<div class="card bg-light">


<article class="card-body mx-auto" style="width: 35rem;">
	<h3 class="card-title mt-3 text-center">
     Activation error. Invalid activation key.
    </h3>


</article>


</div>

{% endblock content %}
