{% extends "../nav_bar_base.html" %}
{% load crispy_forms_tags %}

{% block hearder %}

<a class="button is-primary" href="{% url 'table' %}">
<strong>Home</strong>
</a>

{% endblock %}

{% block content %}


    <section class="section">
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-3 is-6">

    <div class="field">
      <label class="label">Change Password</label>
      <p class="control has-icons-left">
        {{ form.old_password }}
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left">
        {{ form.new_password1 }}
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>

      <div class="content">
        <ul class="help is-size-7 has-text-info" type = "disc">
           <li>Your password can't be too similar to your other personal information.</li>
           <li>Your password must contain at least 8 characters.</li>
           <li>Your password can't be a commonly used password.</li>
           <li>Your password can't be entirely numeric.</li>
        </ul>
      </div>

    </div>


    <div class="field">

      <p class="control has-icons-left">
        {{ form.new_password2 }}
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>

    </div>

    <div class="field">
      <p class="control">
        <button class="button is-primary is-small">
          Save Changes
        </button>
      </p>
    </div>

            </div>
        </div>
    </div>
</form>

</section>


{% endblock content %}
