{% extends "../nav_bar_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<section class="section">
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="columns">
                <div class="column is-offset-3 is-6">

                    <h3>Your request is pending for approval</h3>

                    <div class="field">
                      <label class="label">Log In</label>

                      {% if form.errors %}
                      <div class="content is-size-7 has-text-danger">

                          {% for field in form %}
                             {% for error in field.errors %}
                               {{ error|escape }}
                             {% endfor %}
                          {% endfor %}

                          {% for error in form.non_field_errors %}
                            {{ error|escape }}
                          {% endfor %}

                      </div>
                      {% endif %}

                      <p class="control has-icons-left has-icons-right">
                        {{ form.query }}
                        <span class="icon is-small is-left">
                          <i class="fa fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i class="fa fa-check"></i>
                        </span>
                      </p>
                    </div>

                    <div class="field">
                      <p class="control has-icons-left">
                        {{ form.password }}
                        <span class="icon is-small is-left">
                          <i class="fa fa-lock"></i>
                        </span>
                      </p>
                    </div>

                    <div class="field">
                      <p class="control">
                        <button class="button is-primary is-small">
                          Login
                        </button>
                        <a class="is-size-7 has-text-info" href="{% url 'password_reset' %}">Forgot Password?</a>
                      </p>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <div class="container">
        <div class="columns">
            <div class="column is-offset-3 is-6">
                <div class="">
                    <small class="is-size-7 has-text-info">
                        Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                    </small>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock content %}
