{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block hearder %}

<a class="button is-primary" href="{% url 'login' %}">
<strong>Sign In</strong>
</a>

<a class="button is-primary" href="{% url 'register' %}">
<strong>Sign Up</strong>
</a>

{% endblock %}

{% block content %}

    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>

{% endblock content %}
