{% extends "../nav_bar_base.html" %}
{% load crispy_forms_tags %}


{% block hearder %}

<a class="button is-primary" href="{% url 'table' %}">
<strong>Home</strong>
</a>

<a class="button is-primary" href="{% url 'logout' %}">
<strong>Logout</strong>
</a>

{% endblock %}


{% block content %}

<section class="section">

        <div class="container">

            <div class="container">
                <div class="columns">
                    <div class="column is-offset-2 is-8">





                    <div class="field is-grouped is-grouped-multiline">
                        <figure class="image is-64x64">
                          <img class="avatar" src="{{ avatar.url }}" style="height: 50px; width: 50px;">
                        </figure>
                        <span style="font-size: 20px; color: steelblue;"><strong>{{ name }}</strong></span>
                    </div>


                        <label class="label" style="font-size: 20px; color: maroon;">User Preferences</label>


                    </div>
                </div>
            </div>

        </div>

</section>




<section>
<form method="POST">
    {% csrf_token %}

<div class="container">

<div class="columns">

  <div class="column"></div>

  <div class="column">


      <label class="label" style="font-size: 13px;">Set RGB Color Code: </label>
        <small id="red">R {{form.default_tbl_color_r}}</small><br>
        <small id="green">G {{form.default_tbl_color_g}}</small><br>
        <small id="blue">B {{form.default_tbl_color_b}}</small><br>

        <svg height="100" width="100">
          <circle id="circle" cx="50" cy="50" r="30" stroke="black" stroke-width="1" fill=rgb(200,0,0) />
        </svg><br><br>
        <br><br>

        <div class="field">
          <p class="control">
            <button class="button is-primary is-small">
              Save My Preferences
            </button>
          </p>
        </div>

  </div>
  <div class="column">
    <label class="label" style="font-size: 13px;">Set Image Size Threshold: </label>
      <small>Size {{form.default_img_threshold}}</small><br>
  </div>
  <div class="column">
    <label class="label" style="font-size: 13px;">Set Image Zoom Index: </label>
      <small>Zoom {{form.default_img_zoom}}</small><br>
  </div>

  <div class="column"></div>


</div>

</div><br><br>

</form>
</section>


<script>

    let fill_attr = 'rgb(' + {{r|safe}} + ',' + {{g|safe}} + ',' + {{b|safe}} + ')';

    document.querySelector('#circle').setAttribute("fill", fill_attr);
    document.querySelector("#red").addEventListener('change', changeColor);
    document.querySelector("#green").addEventListener('change', changeColor);
    document.querySelector("#blue").addEventListener('change', changeColor);

    function changeColor(){
        let r = document.querySelector('#id_default_tbl_color_r').value;
        let g = document.querySelector('#id_default_tbl_color_g').value;
        let b = document.querySelector('#id_default_tbl_color_b').value;
        fill_attr = 'rgb(' + r + ',' + g + ',' + b + ')';

        document.querySelector('#circle').setAttribute("fill", fill_attr);
        fillAttr = fill_attr;

        console.log(fill_attr);
    }
</script>



{% endblock content %}
