
{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block style %}

<style>
    input[type=range]::-webkit-slider-thumb {
        background: gray;
    }
    input[type=range]::-moz-range-thumb {
        background: gray;
    }
    input[type=range]::-ms-thumb {
        background: gray;
    }

    #id_default_tbl_color_r::-webkit-slider-thumb {
        background: red;
    }
    #id_default_tbl_color_r::-moz-range-thumb {
        background: red;
    }
    #id_default_tbl_color_r::-ms-thumb {
        background: red;
    }

    #id_default_tbl_color_g::-webkit-slider-thumb {
        background: green;
    }
    #id_default_tbl_color_g::-moz-range-thumb {
        background: green;
    }
    #id_default_tbl_color_g::-ms-thumb {
        background: green;
    }

    #id_default_tbl_color_b::-webkit-slider-thumb {
        background: blue;
    }
    #id_default_tbl_color_b::-moz-range-thumb {
        background: blue;
    }
    #id_default_tbl_color_b::-ms-thumb {
        background: blue;
    }
</style>

{% endblock style %}

{% load static %}
{% load static %}

{% block nav %}
    <li class="nav-item">
        {% if home == 'IMAGE' %}
        <a class="nav-link" href="{% url 'image' %}">Home</a>
        {% else %}
        <a class="nav-link" href="{% url 'video' %}">Home</a>
        {% endif %}
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
    </li>
{% endblock nav %}


{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="card bg-light">


<article class="card-body mx-auto" style="width: 50rem;">
	<h4 class="card-title mt-3 text-center">User Preferences</h4>

  <form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="container">
    <div class="row">

      <div class="col-lg-4">
      <label class="label" style="font-size: 13px; color: maroon;">Set RGB Color Code: </label><br>
        <small id="red" style="color: red;">R </small>
        {{form.default_tbl_color_r}}<br>
        <small id="green" style="color: green;">G </small>
        {{form.default_tbl_color_g}}<br>
        <small id="blue" style="color: blue;">B </small>
        {{form.default_tbl_color_b}}<br>
      </div>

      <div class="col-lg-4">
      <label class="label" style="font-size: 13px; color: maroon;">Set Image Size Threshold: </label><br>
        <small id="size_val">Size Threshold: </small>
        {{form.default_img_threshold}}<br>
        <small id="v_size_val">Video Size Threshold: </small>
        {{form.default_video_threshold}}
      </div>

      <div class="col-lg-4">
      <label class="label" style="font-size: 13px; color: maroon;">Set Image Zoom Index: </label><br>
         <small id="zoom_val">Zoom Index: </small>
         {{form.default_img_zoom}}<br>
         <small id="v_zoom_val">Video Zoom Index: </small>
         {{form.default_video_zoom}}
      </div>

    </div>

  </div>

  <svg height="100" width="100">
    <circle id="circle" cx="50" cy="50" r="30" stroke="black" stroke-width="1" fill=rgb(200,0,0) />
  </svg>
  <div class="form-group">


        <div>
        <label class="label" style="font-size: 15px; color: maroon;">Set Default Home </label><br>
        {% for radio in form.home %}
            <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="{{radio.id_for_label}}" name="home">
            <label for="{{radio.id_for_label}}">
                <span class="radio">{{ radio.tag }}</span>
                {{radio.choice_label}}
            </label>
            </div>
        {% endfor %}
        </div><br>



      <button type="submit" class="btn btn-primary btn-block btn-sm"> Save Changes</button>
  </div>

  </form>

</article>


<article class="card-body mx-auto">
<div class="container">


    <div class="row">


        <div class="col">
            <form action="{% url 'preference_aspect_ratio' %}" method="post">{% csrf_token %}

                <table class="table table-sm table-hover table-bordered table-striped text-center" style="float: left">
                    <caption>List of Video Aspect Ratios</caption>

                    {{ aspect_ratio_formset.management_form }}

                    {% for form in aspect_ratio_formset.forms %}
                        {% if forloop.first %}
                            <thead class="thead-dark" style="opacity: 0.5">
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="formset_row">
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

                <button type="submit" class="btn btn-primary btn-sm">Update</button>

            </form>
        </div>

        <div class"col">
            <form action="{% url 'preference_video_formats' %}" method="post">{% csrf_token %}

                <table class="table table-sm table-hover table-bordered table-striped text-center" style="float: left">
                    <caption>List of Video Formats</caption>

                    {{ video_format_formset.management_form }}

                    {% for form in video_format_formset.forms %}
                        {% if forloop.first %}
                            <thead class="thead-dark" style="opacity: 0.5">
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="formset_row">
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

                <button type="submit" class="btn btn-primary btn-sm">Update</button>

            </form>
        </div>

        <div class"col">&nbsp;&nbsp;&nbsp;</div>

        <div class"col">
            <form action="{% url 'preference_video_duration' %}" method="post">{% csrf_token %}

                <table class="table table-sm table-hover table-bordered table-striped text-center" style="float: left">
                    <caption>List of Video Durations</caption>

                    {{ video_duration_formset.management_form }}

                    {% for form in video_duration_formset.forms %}
                        {% if forloop.first %}
                            <thead class="thead-dark" style="opacity: 0.5">
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="formset_row">
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

                <button type="submit" class="btn btn-primary btn-sm">Update</button>

            </form>
        </div>
        <div class"col">&nbsp;&nbsp;&nbsp;</div>

        <div class"col">
            <form action="{% url 'preference_audio_db' %}" method="post">{% csrf_token %}

                <table class="table table-sm table-hover table-bordered table-striped text-center" style="float: left">
                    <caption>Audio MIn and Max Decibel Level</caption>

                    {{ audio_db_formset.management_form }}

                    {% for form in audio_db_formset.forms %}
                        {% if forloop.first %}
                            <thead class="thead-dark" style="opacity: 0.5">
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="formset_row">
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

                <button type="submit" class="btn btn-primary btn-sm">Update</button>

            </form>
        </div>
        <div class"col">&nbsp;&nbsp;&nbsp;</div>


    </div>


</div>




</article>

</div>

<script>

    let fill_attr = 'rgb(' + {{r|safe}} + ',' + {{g|safe}} + ',' + {{b|safe}} + ')';

    document.querySelector('#circle').setAttribute("fill", fill_attr);
    document.querySelector("#id_default_tbl_color_r").addEventListener('change', changeColor);
    document.querySelector("#id_default_tbl_color_g").addEventListener('change', changeColor);
    document.querySelector("#id_default_tbl_color_b").addEventListener('change', changeColor);

    function changeColor(){
        let r = document.querySelector('#id_default_tbl_color_r').value;
        let g = document.querySelector('#id_default_tbl_color_g').value;
        let b = document.querySelector('#id_default_tbl_color_b').value;
        fill_attr = 'rgb(' + r + ',' + g + ',' + b + ')';

        document.querySelector('#circle').setAttribute("fill", fill_attr);
        fillAttr = fill_attr;
    };


    var zoomSlider = document.getElementById("id_default_img_zoom");
    var zoomOutput = document.getElementById("zoom_val");
    zoomOutput.innerHTML = 'Image Zoom Index: ' + zoomSlider.value; // Display the default slider value

    var videoZoomSlider = document.getElementById("id_default_video_zoom");
    var videoZoomOutput = document.getElementById("v_zoom_val");
    videoZoomOutput.innerHTML = 'Video Zoom Index: ' + videoZoomSlider.value; // Display the default slider value

    var thresholdSlider = document.getElementById("id_default_img_threshold");
    var thresholdOutput = document.getElementById("size_val");
    thresholdOutput.innerHTML = 'Image Size Threshold (KB): ' + thresholdSlider.value; // Display the default slider value

    var videoThresholdSlider = document.getElementById("id_default_video_threshold");
    var videoThresholdOutput = document.getElementById("v_size_val");
    videoThresholdOutput.innerHTML = 'Video Size Threshold (MB): ' + videoThresholdSlider.value; // Display the default slider value

    var redSlider = document.getElementById("id_default_tbl_color_r");
    var greenSlider = document.getElementById("id_default_tbl_color_g");
    var blueSlider = document.getElementById("id_default_tbl_color_b");
    var rOutput = document.getElementById("red");
    var gOutput = document.getElementById("green");
    var bOutput = document.getElementById("blue");

    rOutput.innerHTML = 'R: ' + redSlider.value;
    gOutput.innerHTML = 'G: ' + greenSlider.value;
    bOutput.innerHTML = 'B: ' + blueSlider.value;


    // Update the current slider value (each time you drag the slider handle)


    thresholdSlider.oninput = function() {
        thresholdOutput.innerHTML = 'Image Size Threshold (KB): ' + this.value;
    };

    videoThresholdSlider.oninput = function() {
        videoThresholdOutput.innerHTML = 'Video Size Threshold (MB): ' + this.value;
    };

    zoomSlider.oninput = function() {
        zoomOutput.innerHTML = 'Image Zoom Index: ' + this.value;
    };

    videoZoomSlider.oninput = function() {
        videoZoomOutput.innerHTML = 'Video Zoom Index: ' + this.value;
    };

    redSlider.oninput = function() {
        rOutput.innerHTML = 'R: ' + redSlider.value;
    };

    greenSlider.oninput = function() {
        gOutput.innerHTML =  'G: ' + greenSlider.value;
    };

    blueSlider.oninput = function() {
        bOutput.innerHTML =  'B: ' + blueSlider.value;
    };

</script>

{% endblock content %}
