{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Creative QA | Registration</title>
	<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
		body {
			background: #f5f7f9;
		}

		.page-wrap {
			max-width: 760px;
			margin: 40px auto;
			padding: 0 16px;
		}

		.top-links {
			text-align: right;
			margin-bottom: 12px;
		}

		.input-group {
			flex-wrap: nowrap;
		}

		.input-group .input-group-text {
			min-width: 40px;
			justify-content: center;
		}

		.alert-danger {
			padding: 10px;
		}
	</style>
</head>
<body>
	<div class="page-wrap">
		<div class="top-links">
			<a class="btn btn-link btn-sm" href="{% url 'login' %}">Login</a>
		</div>

		<div class="card bg-light">
			<article class="card-body mx-auto" style="width: 35rem; max-width: 100%;">
				<h4 class="card-title mt-3 text-center">Create Account</h4>

				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}

    <div class="form-group input-group input-group-sm">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>

		{{ form.email }}

    </div>
	{% if form.email.errors %}
		<div class="alert-danger">
			<p>{{ form.email.errors }}</p>
		</div>
	{% endif %}


	<div class="form-group input-group input-group-sm">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>

		{{ form.first_name }}
        &nbsp;&nbsp;
		{{ form.last_name }}
    </div>


    <div class="form-group input-group input-group-sm">
    	<div class="input-group-prepend">
		    <span class="input-group-text">
              <i class="fa fa-user" style="color: #4169e1;"></i>
            </span>
		</div>

		{{ form.approver }}

	</div>


    <div class="form-group input-group input-group-sm">
    	<div class="input-group-prepend">
		    <span class="input-group-text">
			 <i class="fa fa-lock" style="color: #228b22;"></i> 
			</span>
		</div>
		{{ form.password1 }}


    </div>
	<div class="content">
		<ul class="help is-size-7 has-text-info" type = "disc">
			<li>Your password can't be too similar to your other personal information.</li>
			<li>Your password must contain at least 8 characters.</li>
			<li>Your password can't be a commonly used password.</li>
			<li>Your password can't be entirely numeric.</li>
		</ul>
	</div>

	<div class="form-group input-group input-group-sm">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> 
				<i class="fa fa-lock" style="color: #228b22;"></i> 
			</span>
		</div>
		{{ form.password2 }}

    </div>
	<div class="content">
		{% if form.password2.errors %}
			<div class="alert-danger">
				{{ form.password2.errors }}
			</div>
        {% endif %}
		<ul class="help is-size-7 has-text-info" type = "disc">
			<li>Enter the same password as before, for verification.</li>
		</ul>
	</div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-sm"> Create Account  </button>
    </div>
    

				</form>

				<p class="text-center">Have an account? <a href="{% url 'login' %}">Log In</a> </p>
			</article>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
