{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% load staticfiles %}

{% block pic %}
{% comment %} <a href="#" class="img logo mb-5" style="background-image: url({% static 'images/PageLogo/logo.png' %});"></a> {% endcomment %}

{% endblock pic %}

{% block nav %}
    <li class="nav-item">
		<a class="nav-link" href="{% url 'login' %}">Sign-In</a>
	</li>
{% endblock nav %}



{% block content %}


<div class="card bg-light">


<article class="card-body mx-auto" style="width: 35rem;">
	<h3 class="card-title mt-3 text-center">
    Your password has been set.
    </h3>

<p class="text-center">Click here to login <a href="{% url 'login' %}"> Login</a> </p>

</article>


</div>



{% endblock content %}

