{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% load staticfiles %}


{% block nav %}
  				
{% endblock nav %}

	

{% block content %}


<div class="card bg-light">


  <article class="card-body mx-auto" style="width: 35rem;">
    <h4 class="card-title mt-3 text-center">Reset Password</h4>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

        <div class="form-group input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"> 
              <i class="fa fa-lock" style="color: #228b22;"></i> 
            </span>
          </div>
          {{ form.new_password1 }}

        </div>

        {% if form.new_password1.errors %}
          <div class="alert-danger">
            {{ form.new_password1.errors }}
          </div>
        {% endif %}

        <div class="content">
          <ul class="help is-size-7 has-text-info" type = "disc">
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
          </ul>
        </div>

        <div class="form-group input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text"> 
                <i class="fa fa-lock" style="color: #228b22;"></i> 
              </span>
            </div>
          {{ form.new_password2 }}

        </div>

        {% if form.new_password2.errors %}
          <div class="alert-danger">
            {{ form.new_password2.errors }}
          </div>
        {% endif %}
        

        <div class="content">
          <ul class="help is-size-7 has-text-info" type = "disc">
            <li>Enter the same password as before, for verification.</li>
          </ul>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-sm"> Reset Password  </button>
        </div>
      
    </form>

  </article>

</div>

{% endblock content %}

