{% extends "../base.html" %}
{% load static %}

{% block table %}
    {% include 'image/tableSlider.html' %}
{% endblock table %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'preference' %}">Preference</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
    </li>
{% endblock nav %}


{% block content %}

<style>
    thead {
        background-color: black;
        opacity: 0.6;
        font-size: xx-small;
    }

    thead tr th{
        color: blanchedalmond;
    }

    td {
        font-size: small;
    }

    .clonedTableHead {
        background-color: white;
    }

    input#filesInput{
        display: none;
    }

    input#filesInput+label {
        background-color: #4d8cf2;
        padding: 8px;
        color: #ffffff;
        border: 2px solid #9ec3ff;
        border-radius: 9px;
        margin-right: 20px;
    }

    input#filesInput+label:hover{
        background-color: #3b73ce;
        border-color: #729fe7;
        cursor: pointer;
    }

    .hidden {
        display: none;
    }

</style>

<div class="container-fluid">
    <div class="row">


        <div class="file-upload">

            <form method="post" action="#" enctype="multipart/form-data" data-url="/creative-qa-table/">
                {% csrf_token %}
                &nbsp&nbsp&nbsp <input name="files" type="file" id="filesInput" accept="image/*" multiple />
                <label for="filesInput" style="font-family: arial; margin-right: 0;"><i class="fa fa-upload" aria-hidden="true">&nbsp&nbspSelect Image File(s)</i></label>
                <span>
                    <strong id="file-name" style="margin-left: 0px;">No </strong>
                    <strong>files &nbsp&nbsp</strong>
                </span>
                <input type="submit" id="submitToServer" class="btn btn-secondary btn-sm" value="Render Images" style="display: inline;"/>&nbsp&nbsp
                <input type="submit" id="render"  style="display: none;" value="Render Table" />

                <a href="{% url 'video' %}" class="btn btn-info btn-sm" role="button">Go to Video</a>
            </form>
            

        </div>
    </div>

    <div class="text-center" id="loader">
        <img class="" src="{% static 'images/Loader.gif' %}" style="height: 100px; margin: 100px;">
    </div>

</div>

<a class="img logo mb-5" style="background-image: url({% static 'images/Loader.gif' %});"></a>
<div class="container-fluid table-responsive">
    <table class="table-bordered dataTables_scroll compact" id="imgTable" width="100%" style="overflow:auto; display: none;">

        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>


    </table>
</div>
<script src="{% static 'js/slider.js' %}"></script>
{% endblock content %}

<!-- JS -->

{% block javascript %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>


<!-- Variables Defination -->
<script>
let tableJSON = {{ data | safe }};

</script>


<script src="{% static 'js/tableImage.js' %}"></script>

<script>
    window.onload = function() {
        renderTable(event);
        let loader = document.querySelector('#loader');
        loader.classList.add('hidden');

    };
</script>


{% endblock javascript %}
